@font-face {
  font-family: Estedad;
  src: url("../fonts/Estedad.ttf");
}

@font-face {
  font-family: IRANSansX;
  src: url("../fonts/IRANSansX.ttf");
}

@font-face {
  font-family: sarbaz;
  src: url("../fonts/sarbaz.ttf");
}
